pipeline/FINOPS COPY.json
{
	"name": "FINOPS COPY",
	"properties": {
		"activities": [
			{
				"name": "Update Process Date after ETL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Iterate and generate each Entity File CE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "Move Files to Landing Archived",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Update Process Date after ETL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "Exec SP Load Retail Hierarchy",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Assign BatchId to Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_LoadRetailHierarchy_BYOD]"
				}
			},
			{
				"name": "Get BatchId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT convert(nvarchar(4),isnull(max(BatchID)+1,1)) as BatchID from [dbo].EntityIngestionJobsDetail"
					}
				}
			},
			{
				"name": "Assign BatchId to Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get BatchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchId",
					"value": {
						"value": "@activity('Get BatchId').output.firstRow.BatchID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load CE Entities",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Exec SP Load Retail Hierarchy",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select EntityNumber,EntityName,replace(SRCQuery, 'vsi_lastrefreshfieldvalue', replace(replace(convert(varchar,dataprocessdate, 25), '.000', 'Z'), ' ', 'T')) as SRCQuery\n,LandingZoneStagingPath,LandingZoneArchivedPath,CuratedZonePath,DataProcessDate,ExecutionDate,LastRefreshField,AllowIterations,IterationSize, IterationKey\nfrom [dbo].[EntityIngestionJobHeader]\nwhere IsActive = 1 and sourcesystem in ('D365-CE') and JobType = 'Ingestion'"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate and generate each Entity File CE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load CE Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load CE Entities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Insert Detail Row CE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_InsertConfigRow]",
								"storedProcedureParameters": {
									"EntityNumber": {
										"value": {
											"value": "@item().EntityNumber",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().EntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"BatchID": {
										"value": {
											"value": "@variables('BatchId')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Load Incremental",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Insert Detail Row CE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"SRCQuery": {
										"value": "@item().SRCQuery",
										"type": "Expression"
									},
									"FilePath": {
										"value": "@concat('adl://dlacuitysparkicsc.azuredatalakestore.net',item().LandingZoneStagingPath)",
										"type": "Expression"
									},
									"DataProcessDate": {
										"value": "@item().DataProcessDate",
										"type": "Expression"
									},
									"IterationSize": {
										"value": "@string(item().IterationSize)",
										"type": "Expression"
									},
									"IterationKey": {
										"value": "@item().IterationKey",
										"type": "Expression"
									},
									"LoadType": {
										"value": "@pipeline().parameters.LoadType",
										"type": "Expression"
									},
									"EntityName": {
										"value": "@item().EntityName",
										"type": "Expression"
									},
									"LandingZonePath": {
										"value": "@item().LandingZoneStagingPath",
										"type": "Expression"
									},
									"EntityNumber": {
										"value": "@string(item().EntityNumber)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LoadType": {
				"type": "string",
				"defaultValue": "Delta"
			}
		},
		"variables": {
			"BatchId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}